<div class="ui-inputgroup">
    <span class="ui-inputgroup-label">{{label}}</span>
    <app-combobox [dataProvider]="operatorGroup" [(ngModel)]="operator" [style]="{'width':'110px'}"></app-combobox>

    <input type="text" pInputText [(ngModel)]="value" *ngIf="type == TYPE_STRING"/>

    <app-combobox [dataProvider]="dataProvider" [(ngModel)]="value" *ngIf="type == TYPE_COMBO"></app-combobox>

    <app-autocomplete [url]="url" [(ngModel)]="value" *ngIf="type == TYPE_CODE"></app-autocomplete>

    <app-amount-input [(ngModel)]="value" *ngIf="type == TYPE_AMOUNT"></app-amount-input>
    <app-amount-input [(ngModel)]="value2" *ngIf="type == TYPE_AMOUNT &&showValue2"></app-amount-input>

    <app-date-input [(ngModel)]="value" *ngIf="type == TYPE_DATE"></app-date-input>
    <app-date-input [(ngModel)]="value2" *ngIf="type == TYPE_DATE && showValue2"></app-date-input>
</div>